.addEmp{
    border: 2px solid black;
    width: 600px;
}
input{
    width: 350px;
    margin-left: 4px;
    height: 30px;
    
}

.addEmp, .tbl div{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.add{
    width: 150px;
    background-color: seagreen;
    border-radius: 150px;
    margin-left: 10px;
}