th, td{
   border: 1px solid black;
    margin-left: 4px; 
}
th{
    
    width: 25px;
}

td{
    width:15px;

}
.td{
    width:15px;
}


.tbl{
    border: 2px solid black;
    width: 500px;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 350px;
}


h2{
    text-align: left;
    margin-left: 4px;
}
.btn-del{
    color: crimson;
    
}
.btn{
    color: green;
}